* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'shabnam-light';
}
 body{
    background-color: #f9f9f9;
 }
:root {
    --bg-color-1: #777676;
    --bg-color-2: #000000;
    --bg-color-3: white;
    --bg-color-4: #0183FF;
    --bg-color-5: #127294;
    --bg-color-6: rgb(229, 234, 255);
    --bg-color-7: #b6b4b4;
    --bg-color-8: #e2dbdb;
}

@font-face {
    font-family: "vazir-bold";
    src: url(/frontend/font/Vazir-Bold.ttf) format(truetype)
}

@font-face {
    font-family: "shabnam";
    src: url(/frontend/font/Shabnam-Bold.ttf) format(truetype);
}

@font-face {
    font-family: "shabnam-light";
    src: url(/frontend/font/Shabnam-Light.ttf) format(truetype);
}