* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'shabnam-light';
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f9f9f9;
}

:root {
    --bg-color-1: #777676;
    --bg-color-2: #000000;
    --bg-color-3: white;
    --bg-color-4: #0183FF;
    --bg-color-5: #127294;
    --bg-color-6: rgb(229, 234, 255);
    --bg-color-7: #b6b4b4;
    --bg-color-8: #e2dbdb;
}

@font-face {
    font-family: "vazir-bold";
    src: url(/frontend/font/Vazir-Bold.ttf) format(truetype)
}

@font-face {
    font-family: "shabnam";
    src: url(/frontend/font/Shabnam-Bold.ttf) format(truetype);
}

@font-face {
    font-family: "shabnam-light";
    src: url(/frontend/font/Shabnam-Light.ttf) format(truetype);
}

/* ----------------------------------------------- header -----------------------------------------------  */


.container {
    width: 100%;
    max-width: 1245px;
    margin: 0 auto;
    padding: 0 16px;
}

.header {
    padding-top: 10px;
    box-shadow: 0 0.5px 5px var(--bg-color-8);
    background-color: #ffffff;
    z-index: 1000;

}

.header-main {
    /* border-bottom: 1px solid var(--bg-color-7); */
    padding-top: 10px;
}

.header-main-wraper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-main-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.header-main-right a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.search-wraper {
    background: #f9f9f9;
    border: 1.5px solid #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 400px;
    height: 35px;
    border-radius: 6px;

}

.search-wraper input {
    border: none;
    background-color: inherit;
    width: 350px;

}

.header-main-left {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header-main-left a {
    padding: 0 15px;
    height: 35px;
    background-color: var(--bg-color-6);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    color: var(--bg-color-2);
    font-size: 13px;
}

.header-basket {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background-color: var(--bg-color-6);
    border-radius: 6px;

}

.header-basket {
    position: relative;
}

.cart-badge {
    position: absolute;
    top: -6px;
    left: -6px;
    background: #ef4444;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    width: 18px;
    height: 18px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-basket svg {
    width: 22px;
    height: 22px;
    flex-shrink: 0;
}


.header-main-left a.user-btn {
    width: 35px;
    height: 35px;
    padding: 0;
    gap: 0;
    background: var(--bg-color-6);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-btn svg {
    width: 22px;
    height: 22px;
}

.user-dropdown {
    position: absolute;
    top: 55px;
    left: 0;
    width: 180px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .12);
    display: none;
    overflow: hidden;
    z-index: 999;
}

.user-dropdown a,
.user-dropdown button {

    width: 100%;
    padding: 12px 16px;
    display: block;
    background: none;
    border: none;
    text-align: right;
    text-decoration: none;
    color: #333;
    cursor: pointer;
    font-size: 14px;

}

.user-dropdown a:hover,
.user-dropdown button:hover {

    background: #f6f6f6;

}

/* -----------------------------------------header-nav 👇------------------------------------------------ */

.header-nav {
    /* border-bottom: 1px solid var(--bg-color-7); */
    /* padding: 20px 0; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: #ffffff;
    z-index: 1000;
}

.header-nav-wraper {}


.li-category {
    position: relative;
    transition: 0.3s ease;
    padding: 19.5px 0;
}



.daste-bandy-wraper {
    width: 300px;
    border-radius: 6px;
    background-color: var(--bg-color-3);
    box-shadow: 0 0 5px rgb(182, 182, 182);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 15px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease;
    position: absolute;
    z-index: 99999;
    top: 65px;
}

.li-category:hover .daste-bandy-wraper {
    transition: 0.2s ease;
    visibility: visible;
    opacity: 1;
}



.daste-bandt-items {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 6px;
    /* border: 1px solid var(--bg-color-8); */
    background-color: var(--bg-color-3);
    padding: 10px;
    overflow: hidden;
    transition: 0.5s ease;

}

.daste-bandt-items:hover {
    background-color: var(--bg-color-6);
    transition: 0.5s ease;
}

.daste-bandt-items:hover svg {
    transform: translateX(-30px) rotate(90deg);
    transition: 0.5s ease;
}

.daste-bandt-items svg {
    transform: rotate(90deg);
    transition: 0.5s ease;
    fill: var(--bg-color-1);
}

.daste-bandy-item-right {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;

}

.daste-bandt-items img {
    width: 22px;
    height: 22px;
}

.header-nav-right ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

.nav {
    text-decoration: none;
    color: var(--bg-color-1);
    font-size: 15px;
}

.nav-line {
    color: var(--bg-color-1);
}

.nav-category {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.nav-category svg {
    fill: var(--bg-color-1);
}

.header-nav-left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header-phone {
    display: flex;
    align-items: center;
    justify-content: center;
}

.phone {
    color: var(--bg-color-2);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.phone p {
    font-size: 15px;
}

/* ------------------------------------------------------------------------------------------------------------------ */
.main-header {
    margin: 35px 0;

}

.breadcrumb {
    font-size: 14px;
}

.breadcrumb a {
    font-family: 'shabnam-light';
    text-decoration: none;
    color: #838383;
}

.breadcrumb-line {
    color: #838383;
    margin: 0 6px;
}

/* ----------------------------------------- Mobile header 👇------------------------------------------------ */

.mobile-header {
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    /* background-color: rebeccapurple; */
}

.mobile-header-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #f9f9f9;
    border: 1.5px solid #eee;
}
/* --------------------------------------- Mobile bottom nav -------------------------------------- */

.bottom-nav{

    position:fixed;

    right:0;
    left:0;
    bottom:0;

    height:68px;

    background:#fff;

    border-top:1px solid #ececec;

    display:none;

    justify-content:space-around;
    align-items:center;

    z-index:999;

}

.bottom-nav-item{

    flex:1;

    height:100%;

    display:flex;

    flex-direction:column;

    align-items:center;

    justify-content:center;

    gap:6px;

    border:none;

    background:none;

    text-decoration:none;

    color:#666;

    cursor:pointer;

}

.bottom-nav-item svg{

    width:22px;
    height:22px;

    stroke:currentColor;

}

.bottom-nav-item span{

    font-size:11px;

}

.bottom-nav-item.active{

    color:var(--bg-color-4);

}


/* -----------------------------------------footer👇------------------------------------------------ */
.footer {
    width: 100%;
    background: var(--bg-color-3);
    border-top: 1px solid #e8e8e8;
    font-size: 14px;
    color: #444;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 16px;
}

.footer-content {
    display: flex;
    align-items: start;
    justify-content: space-around;
    gap: 48px;
    padding: 48px 0 40px;
    border-bottom: 1px solid #f0f0f0;
}

.footer-brand .logo {
    display: flex;
    align-items: center;
    gap: 9px;
    text-decoration: none;
    margin-bottom: 14px;
}

.logo-mark {
    width: 36px;
    border: 1px solid var(--bg-color-);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    color: #111;

}

.logo {
    display: flex;
    align-items: center;
    justify-content: start;
}

.logo-name {
    font-size: 1.10rem;
    font-weight: 300;
    color: #111;
    letter-spacing: -0.3px;
}

.logo-name strong {
    font-weight: 800;
    color: var(--bg-color-4);
}

.footer-desc {
    color: #888;
    line-height: 1.95;
    font-size: 13.5px;
    margin-bottom: 22px;
    max-width: 280px;
}

.social-links {
    display: flex;
    gap: 8px;
}

.social-link {
    width: 36px;
    height: 36px;
    border-radius: 9px;
    border: 1.5px solid #e8e8e8;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 15px;
    color: #555;
    transition: all 0.18s;
}

.social-link:hover {
    border-color: var(--bg-color-4);
    background: #f0faf5;
    color: var(--bg-color-4);
    transform: translateY(-2px);
}

.footer-links{
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 85px;
}
.footer-collapse{
    font-weight: bold;
    font-size: 16px;
    color: #444444;
    border: none;
    background-color: inherit;
    margin-bottom: 15px;
}
.footer-collapse-icon{
    display: none;
}

.footer-col h5 {
    font-size: 13px;
    font-weight: 700;
    color: #111;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: 18px;
}

.footer-col ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.footer-col ul li a {
    color: #777;
    text-decoration: none;
    font-size: 13.5px;
    transition: color 0.18s;
    display: inline-block;
}

.footer-col ul li a:hover {
    color: var(--bg-color-4);
}


.contact-list {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.contact-row {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.contact-dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--bg-color-4);
    margin-top: 6px;
    flex-shrink: 0;
}

.contact-row-inner small {
    display: block;
    font-size: 11.5px;
    color: #bbb;
    font-weight: 500;
    margin-bottom: 1px;
}

.contact-row-inner span {
    font-size: 13.5px;
    color: #555;
}


.footer-govahi {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
    flex-wrap: wrap;

}

.trust-label {
    font-size: 12px;
    color: #bbb;
    font-weight: 600;
    margin-left: 4px;
    text-transform: uppercase;
    letter-spacing: 0.4px;
}

.govahi {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 7px 14px;
    border: 1.5px solid #eee;
    border-radius: 8px;
    font-size: 12.5px;
    color: #666;
    background: #fafafa;
    transition: all 0.18s;

}

.govahi:hover {
    border-color: var(--bg-color-6);
    color: var(--bg-color-4);
    background: #f0faf5;
}

.govahi-icon {
    font-size: 13px;
}


.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 0;
    gap: 16px;
    flex-wrap: wrap;
}

.footer-copy {
    font-size: 12.5px;
    color: #bbb;
}



.toast {
    position: fixed;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%) translateY(16px);
    background: #111;
    color: #fff;
    padding: 11px 24px;
    border-radius: 10px;
    font-size: 13.5px;
    font-weight: 500;
    opacity: 0;
    transition: all 0.25s ease;
    z-index: 9999;
    pointer-events: none;
}

.toast.show {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}

.footer-khabarname {
    width: 300px;
    height: 190px;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: start;
    gap: 15px;
}

.email-wraper {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.email-wraper h3 {
    font-size: 13px;
}

.email-wraper input {
    border-radius: 3px;
    border: 1px solid rgb(211, 210, 210);
    width: 200px;
    height: 35px;
    padding: 10px;

    background-color: var(--bg-color-6);
}

.email-wraper p {
    color: #888888;
    font-size: 13.5px;
}

.email-wraper a {
    font-size: 10.5px;
    border-radius: 4px;
    text-decoration: none;
    color: var(--bg-color-3);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 60px;
    background-color: var(--bg-color-4);

}

.scroll-top {
    width: 36px;
    height: 36px;
    border-radius: 5px;
    background: var(--bg-color-1);
    border: none;
    cursor: pointer;
    transition: background 0.2s, transform 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;

}

.scroll-top svg {
    stroke: var(--bg-color-3);
}

.scroll-top:hover {
    background: var(--bg-color-4);
    transform: translateY(-3px);
}

.govahi-wraper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f0f0f0;
}


[data-anim] {
    opacity: 0;
    transition-property: opacity, transform;
    transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
    transition-duration: 1.2s;
}

[data-anim="fade-up"] {
    transform: translateY(40px);
}

[data-anim="fade-down"] {
    transform: translateY(-40px);
}

[data-anim="fade-left"] {
    transform: translateX(40px);
}

[data-anim="fade-right"] {
    transform: translateX(-40px);
}

[data-anim="zoom"] {
    transform: scale(0.85);
}

[data-anim="fade"] {
    transform: none;
}

[data-anim].is-visible {
    opacity: 1;
    transform: none !important;
}

/* ------- Responsive ------- */


@media (max-width: 1200px) {

    .container {
        max-width: 1120px;
    }

    .header-main-right {
        gap: 12px;
    }

    .header-main-left {
        gap: 8px;
    }

    .search-wraper {
        width: 340px;
    }

    .search-wraper input {
        width: 290px;
    }

    .header-main-left a {
        padding: 0 12px;
    }

    .header-nav-right ul {
        gap: 16px;
    }

    .nav,
    .phone p {
        font-size: 14px;
    }


    .bannerSwiper {
        height: 260px;
        border-radius: 16px;
    }

    .banner {
        height: 260px;
    }

    .banner-btns {
        right: 20px;
        bottom: 20px;
        gap: 8px;
    }

    .banner-prev,
    .banner-next {
        width: 32px;
        height: 32px;
        font-size: 14px;
    }

    .main-category {
        margin: 50px 0 110px;
    }

    .category-title {
        margin-bottom: 50px;
    }

    .main-category-wrapper {
        gap: 20px;
    }

    .category-cart_img {
        width: 135px;
        height: 135px;
        padding: 18px;
        aspect-ratio: 1/1;
    }

    .category-cart_img img {
        width: 105px;
    }

    .category-cart_text {
        font-size: 13px;
    }


    .main-pruducts {
        margin: 50px 0 110px;
    }

    .products-title {
        margin-bottom: 50px;
    }

    .main-products-cart-wraper {
        gap: 12px;
    }

    .products-cart {
        width: 200px;
        padding: 12px;
        border-radius: 12px;
    }

    .cart-products-img {
        width: 165px;
        height: 165px;
        margin-top: 5px;
    }

    .cart-content {
        margin-top: 8px;
        gap: 8px;
    }

    .cart-content h3 {
        font-size: 14px;
    }

    .cart-content p {
        font-size: 13px;
        height: 36px;
    }

    .price {
        font-size: 12px;
    }

    .products-cart button {
        height: 32px;
        font-size: 11px;
        margin-top: 8px;
    }

    .products-title h2 {
        font-size: 19px;
    }

    .products-title a {
        width: 160px;
        height: 34px;
        margin-right: 0;
    }


    .footer-container {
        max-width: 1120px;
    }

    .footer-content {
        gap: 32px;
        padding: 42px 0 36px;
    }

    .footer-brand {
        max-width: 240px;
    }

    .footer-desc {
        max-width: 240px;
        font-size: 13px;
    }

    .footer-khabarname {
        width: 260px;
    }

    .footer-khabarname h3 {
        font-size: 16px;
    }

    .footer-khabarname p {
        font-size: 13px;
    }

    .email-wraper {
        margin-top: 35px;
    }

    .email-wraper input {
        width: 170px;
    }

    .footer-col h5 {
        font-size: 12px;
    }

    .footer-col ul li a {
        font-size: 13px;
    }

    .contact-row-inner span {
        font-size: 13px;
    }

    .govahi {
        padding: 6px 12px;
        font-size: 12px;
    }

    .social-link {
        width: 34px;
        height: 34px;
    }

    .scroll-top {
        width: 34px;
        height: 34px;
    }

}

@media (max-width: 1023px) {

    /* Container */

    .container,
    .footer-container {
        max-width: 960px;
        padding: 0 20px;
    }

    /* header */
    .header{
        padding-top: 0px;
    }
    .header-main,
    .header-nav {
        display: none;
    }

    .mobile-header {
        display: flex;
    }

    .bottom-nav {
        display: flex;
    }

    .search-wraper {
        width: 95%;
    }

    .search-wraper input {
        width: 95%;
    }

    .main-story {
        display: none;
    }


    /* Main Head */
    .bannerSwiper {
        height: 230px;
        border-radius: 14px;
    }

    .banner {
        height: 230px;
    }

    .banner-btns {
        right: 16px;
        bottom: 16px;
        gap: 8px;
    }

    .banner-prev,
    .banner-next {
        width: 30px;
        height: 30px;
        font-size: 13px;
    }

    /* Main Category */
    .main-category {
        margin: 45px 0 90px;
    }

    .category-title {
        margin-bottom: 40px;
    }

    .category-title h2 {
        font-size: 18px;
    }

    .main-category-wrapper {
        gap: 16px;
    }

    .category-cart {
        gap: 10px;
    }

    .category-cart_img {
        width: 120px;
        height: 120px;
        padding: 16px;
    }

    .category-cart_img img {
        width: 95px;
    }

    .category-cart_text {
        font-size: 12px;
    }

    /* Main Products */

    .main-pruducts {
        margin: 45px 0 90px;
    }

    .products-title {
        margin-bottom: 40px;
    }

    .products-title h2 {
        font-size: 18px;
    }

    .products-title a {
        width: 150px;
        height: 32px;
        font-size: 12px;
    }

    .products-title-a p {
        font-size: 11px;
    }

    .main-products-cart-wraper {
        gap: 10px;
    }

    .products-cart {
        width: 185px;
        padding: 10px;
        border-radius: 10px;
    }

    .cart-products-img {
        width: 150px;
        height: 150px;
        margin-top: 0;
    }

    .cart-content {
        margin-top: 8px;
        gap: 7px;
    }

    .cart-content h3 {
        font-size: 13px;
    }

    .cart-content p {
        font-size: 12px;
        height: 34px;
    }

    .price {
        font-size: 12px;
    }

    .products-cart button {
        height: 30px;
        font-size: 10.5px;
        margin-top: 8px;
    }

    body{

        padding-bottom:68px;

    }

    /* footer */

    .footer-content {
        flex-direction: column;
        gap: 30px;
        padding: 35px 0;
    }

    .footer-brand {
        width: 100%;
    }

    .footer-desc {
        max-width: 100%;
    }

    .footer-col {
        width: 100%;
        border-top: 1px solid #efefef;
    }

    .footer-col-2 {
        border-bottom: 1px solid #efefef;
    }

    .footer-collapse {
        width: 100%;
        height: 56px;
        background: none;
        border: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        font-size: 15px;
        font-family: inherit;
    }
    .footer-collapse-icon{
        display: block;
    }

    .footer-collapse span:last-child {
        /* transition: .3s; */
    }

    .footer-col.active .footer-collapse span:last-child {
        transform: rotate(180deg);
    }

    .footer-collapse-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height .35s ease;
        display: block;
        padding: 0;
    }

    .footer-col.active .footer-collapse-content {
        max-height: 300px;
        padding-bottom: 18px;
    }

    .footer-col ul.footer-collapse-content {
        display: flex;
        flex-direction: column;
        gap: 11px;
    }


    .footer-content {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .footer-links {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .footer-khabarname {
        width: 100%;
        height: auto;
        gap: 14px;
    }

    .email-wraper {
        width: 100%;
        margin-top: 10px;
    }

    .email-wraper input {
        flex: 1;
        width: 100%;
    }

    .email-wraper a {
        width: 90px;
        flex-shrink: 0;
    }

    .govahi-wraper {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 18px;
    }

    .footer-govahi {
        width: 100%;
        justify-content: flex-start;
    }

    .scroll-top {
        align-self: center;
    }

    .footer-bottom {
        padding: 18px 0 18px;
    }



}

@media (max-width:900px) {

    /* Container */

    .container,
    .footer-container{
        padding:0 18px;
    }

    /* Main Head */

    .bannerSwiper,
    .banner{
        height:210px;
    }

    /* Main Category */

    .main-category{
        margin:40px 0 80px;
    }

    .category-title{
        margin-bottom:35px;
    }

    .category-title h2{
        font-size:17px;
    }

    .main-category-wrapper{
        gap:12px;
    }

    .category-cart_img{
        width:108px;
        height:108px;
        padding:14px;
    }

    .category-cart_img img{
        width:84px;
    }

    .category-cart_text{
        font-size:11px;
    }

    /* Main Products */

    .main-pruducts{
        margin:40px 0 80px;
    }

    .products-title{
        margin-bottom:35px;
    }

    .products-title h2{
        font-size:17px;
    }

    .products-title a{
        width:140px;
        height:30px;
    }

    .products-title-a p{
        font-size:10.5px;
    }

    .main-products-cart-wraper{
        gap:8px;
    }

    .products-cart{
        width:170px;
        padding:10px;
    }

    .cart-products-img{
        width:135px;
        height:135px;
    }

    .cart-content h3{
        font-size:12px;
    }

    .cart-content p{
        font-size:11px;
        height:32px;
    }

    .price{
        font-size:11px;
    }

    .products-cart button{
        height:28px;
        font-size:10px;
    }

}

@media (max-width:820px) {

    /* Container */

    .container,
    .footer-container{
        padding:0 16px;
    }

    /* Main Head */

    .bannerSwiper,
    .banner{
        height:195px;
    }

    /* Main Category */

    .main-category{
        margin:35px 0 70px;
    }

    .category-title{
        margin-bottom:30px;
    }

    .category-title h2{
        font-size:16px;
    }

    .main-category-wrapper{
        gap:10px;
    }

    .category-cart_img{
        width:96px;
        height:96px;
        padding:12px;
    }

    .category-cart_img img{
        width:72px;
    }

    .category-cart_text{
        font-size:10.5px;
    }

    /* Main Products */

    .main-pruducts{
        margin:35px 0 70px;
    }

    .products-title{
        margin-bottom:30px;
    }

    .products-title h2{
        font-size:16px;
    }

    .products-title a{
        width:130px;
        height:28px;
    }

    .products-title-a p{
        font-size:10px;
    }

    .products-title svg{
        width:13px;
        height:13px;
    }

    .main-products-cart-wraper{
        gap:6px;
    }

    .products-cart{
        width:155px;
        padding:8px;
    }

    .cart-products-img{
        width:122px;
        height:122px;
    }

    .cart-content{
        gap:6px;
    }

    .cart-content h3{
        font-size:11.5px;
    }

    .cart-content p{
        font-size:10.5px;
        height:30px;
    }

    .price{
        font-size:10.5px;
    }

    .products-cart button{
        height:27px;
        font-size:9.5px;
    }

}

@media (max-width: 768px) {
     .mobile-header {
        padding: 10px 14px;
        gap: 10px;
    }

    .search-wraper {
        width: 100%;
        height: 35px;
        border-radius: 6px;
        gap: 8px;
        padding: 0 12px;
    }

    .search-wraper svg {
        width: 18px;
        height: 18px;
        flex-shrink: 0;
    }

    .search-wraper input {
        width: 100%;
        font-size: 13px;
    }

    .search-wraper input::placeholder {
        font-size: 13px;
    }

    .mobile-header-icon {
        width: 35px;
        height: 35px;
        /* border-radius: 10px; */

        display: flex;
        align-items: center;
        justify-content: center;

        flex-shrink: 0;
    }

    .mobile-header-icon svg {
        width: 20px;
        height: 20px;
    }


    /* ================= Main Head ================= */

    .bannerSwiper {
        height: 180px;
        border-radius: 12px;
    }

    .banner {
        height: 180px;
    }

    .banner img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .banner-btns {
        right: 12px;
        bottom: 12px;
        gap: 6px;
    }

    .banner-prev,
    .banner-next {
        width: 28px;
        height: 28px;
    }

    .banner-prev svg,
    .banner-next svg {
        width: 14px;
        height: 14px;
    }

    .main-category-wrapper {

        display: flex;
        gap: 18px;
        overflow-x: auto;
        overflow-y: hidden;
        flex-wrap: nowrap;
        scroll-behavior: smooth;
        padding-bottom: 8px;
        -webkit-overflow-scrolling: touch;
    }

    /* ===================== Main Category ===================== */

    .main-category {
        margin: 40px 0 70px;
    }

    .category-title {
        margin-bottom: 28px;
    }

    .category-title h2 {
        font-size: 17px;
    }

    /* Wrapper تبدیل به اسکرول افقی */

    .main-category-wrapper {

        display: flex;
        flex-wrap: nowrap;

        gap: 18px;

        overflow-x: auto;
        overflow-y: hidden;

        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;

        padding-bottom: 8px;

        justify-content: flex-start;
    }

    /* مخفی کردن اسکرول بار */

    .main-category-wrapper::-webkit-scrollbar {
        display: none;
    }

    .main-category-wrapper {
        scrollbar-width: none;
    }

    /* اندازه ثابت کارت */

    .category-cart {

        flex: 0 0 auto;

        width: 90px;

        gap: 8px;

    }

    /* دایره */

    .category-cart_img {

        width: 80px;
        height: 80px;

        padding: 12px;

    }

    /* عکس */

    .category-cart_img img {

        width: 60px;

    }

    /* متن */

    .category-cart_text {

        font-size: 11px;
        line-height: 1.5;
        text-align: center;

    }
}

@media (max-width: 576px) {}