* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'shabnam-light';
}

:root {
    --bg-color-1: #777676;
    --bg-color-2: #000000;
    --bg-color-3: white;
    --bg-color-4: rgb(5, 95, 230);
    --bg-color-5: rgb(221, 221, 221);
    --bg-color-6: rgb(229, 234, 255);
}

@font-face {
    font-family: "vazir-bold";
    src: url(/frontend/font/Vazir-Bold.ttf) format(truetype)
}

@font-face {
    font-family: "shabnam";
    src: url(/frontend/font/Shabnam-Bold.ttf) format(truetype);
}

@font-face {
    font-family: "shabnam-light";
    src: url(/frontend/font/Shabnam-Light.ttf) format(truetype);
}