/* -----------------------------------------header-main 👇------------------------------------------------ */
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container {
    margin: 0 auto;
    width: 1250px;
}

.header-main-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-main {
    padding: 8px 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--bg-color-5);
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

}

.header-content span {
    color: var(--bg-color-1);
    font-size: 14px;

}

.header-btn {
    border: none;
    border-radius: 5px;
    width: 80px;
    height: 28px;

    background-color: var(--bg-color-4);
}

.header-btn a {
    color: var(--bg-color-3);
    font-size: 12px;
    text-decoration: none;
}

.header-wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: var(--bg-color-1);
    font-size: 14px;
}

.header-phone {
    cursor: pointer;
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.line {
    height: 16px;
    width: 1px;
    background-color: #000000;
    opacity: 40%;
}

.header-phone span {}


.header-loc {
    cursor: pointer;
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-loc span {}

.header-rigester {}

.header-rigester a {
    text-decoration: none;
    color: var(--bg-color-1);

}

/* -----------------------------------------header-nav👇------------------------------------------------ */

.header-nav {}

.header-nav-row {
    width: 100%;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.header-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.header-li {
    cursor: pointer;
    list-style: none;
}

.header-li:hover a {
    color: #000000;
}

.header-li a {
    font-family: 'shabnam-light';
    font-size: 14px;
    color: #777676;
    text-decoration: none;
}

.header-left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.search-wraper {
    background-color: var(--bg-color-6);
    width: 278px;
    padding: 0 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-search {
    border-radius: 60px;
    background-color: var(--bg-color-6);
    height: 37px;
    width: 100%;
    border: none;
    padding: 20px;
    font-family: 'shabnam-light';
}

.search-wraper:focus-within {
    outline: 1px solid rgb(0, 0, 0);
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

.header-like {
    cursor: pointer;
    stroke: #000000;
    transition: 0.5s ease;
}

.header-like:hover {
    stroke: #0183FF;
    transition: 0.5s ease;
}

.header-user {

    cursor: pointer;
}

.header-user path {
    cursor: pointer;
    fill: #000000;
}

.header-user:hover path {
    fill: #0183FF;
    transition: 0.5s ease;
}

.header-basket {
    cursor: pointer;
    stroke: #000000;
    cursor: pointer;
    position: relative;
}

.header-basket:hover {
    stroke: #0183FF;
    transition: 0.5s ease;
}

.header-basket::after {
    content: '0';
    display: flex;
    align-items: end;
    justify-content: center;
    color: #ffffff;
    font-size: 8px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: blue;
    /* display: block; */
    position: absolute;
    left: -3px;
    bottom: 1px;

}

/* -----------------------------------------main-head👇------------------------------------------------ */

.main-head img {
    width: 100%;
}

.main-head {}

.main-baner {
    padding: 10px;
    position: relative;
    margin-bottom: 60px;
    display: flex;
    align-items: end;
    justify-content: end;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/frontend/img/Slider\ 7.png);

}

.main-baner::after {
    position: absolute;
    left: 640px;
    top: 370px;
    content: '';
    width: 100px;
    height: 30px;
    border-radius: 7px 7px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}

.arow-baner-wraper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.arow-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 22px;
    border-radius: 5px;
    background-color: #46444470;
}

.arow-left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 22px;
    border-radius: 5px;
    background-color: #46444470;

}

/* -----------------------------------------main-story👇------------------------------------------------ */




.main-story {
    display: flex;
    align-items: center;
    justify-content: center;

}

.main-story-raper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.story {
    width: 90px;
    height: 90px;
    border-radius: 50px;
    background-color: #f7eded;
    display: flex;
    align-items: center;
    justify-content: center;
}

.story-into {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: 2px solid rgb(19, 115, 204);
    background-color: #f1e9e900;

}

/* -----------------------------------------main-product👇------------------------------------------------ */
.products-title {
    margin-top: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.products-title a {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    width: 170px;
    margin: 10px;

    transition: 0.5s ease;

}
.products-title:hover svg{
    stroke: #0183FF;
    transition: 0.5s ease;


}
.products-title svg{
    stroke: #000000;
    transition: 0.5s ease;

}

.products-title-a p {
    font-family: 'shabnam-light';
    font-size: 14px;
    color: black;

}

.products-title h2 {
    padding-right: 20px;
    width: 130px;
}

.products-title-a:hover p{
    transition: 0.5s ease;
    color: #0183FF;
}

.products-line {
    width: 100%;
    height: 1px;
    background-color: black;
}

.main-pruducts {
    margin: 90px 0 150px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.main-products-wraper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.main-products-cart {
    width: 200px;
    border: 1px solid rgb(231, 229, 229);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;


}


.main-products-cart-img {
    margin: 5px;
    background-color: #cecaca;
    width: 180px;
    border-radius: 10px;
    height: 180px;
}

.main-products-cart-texts {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.main-products-cart-btn {
    width: 100%;

    padding: 10px;
    background-color: #dddada;
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn-wraper {
    display: flex;
    width: 180px;
    align-items: center;
    justify-content: space-between;

}

.btn-right-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-right-content button {
    border: none;
    width: 90px;
    height: 27px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'shabnam';
    color: white;
    background-color: #0183FF;
}

.btn-left-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}




/* -----------------------------------------main-category👇------------------------------------------------ */

.category-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-title h2 {
    padding-right: 20px;
    width: 230px;
}

.category-line {
    width: 100%;
    height: 1px;
    background-color: black;
}

.main-category {
    margin: 90px 0 190px 0;
}

.main-category-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

}

.main-category-cart {
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 7px;
    gap: 20px;
    padding: 20px;
    border: 1px solid #dddada;
    transition: 0.5s ease;

}

.main-category-cart img {
    width: 50px;
    height: 50px;
}

.main-category-cart p {
    font-family: 'shabnam-light';
    font-size: 14px;
}

.main-category-cart:hover {
    transform: scale(1.04);
    transition: 0.5s ease;
    border: 1px solid #0183FF;
}

.main-category-cart:hover .main-category-cercle {
    background-color: #0183FF;
    transition: 0.5s ease;

}

.main-category-cercle {
    transition: 0.5s ease;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #dddada;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -----------------------------------------main-aboutus👇------------------------------------------------ */