* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'regular';
}

@font-face {
    font-family: "regular";
    src: url(/frontend/font/iranyekanwebregular.b95439c1.b95439c1.woff) format(woff);
}

body {
    background: #f5f7fb;
}

.dashboard {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 300px;
    background: #fff;
    border-left: 1px solid #E5E7EB;
    /* padding: 30px 20px; */
}


.sidebar ul {
    list-style: none;
}

.sidebar li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 15px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .3s;
    font-size: 14px;
}

.btn-home {
    padding: 10px 0 50px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}


.back-home-btn {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    width: 138px;
    height: 48px;
    background-color: #FFFFFF;
    font-size: 12px;
    border-left: 1px solid #E5E7EB;

}

.user-box {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 30px 0 30px;
}

.dashboard-line {
    width: 100%;
    height: 1px;
    background-color: #E5E7EB;
    margin: 20px 0 50px 0;
}

.dashboard-ul {
    padding: 0 30px;
}

.user-box-svg {
    padding: 8px;
    border-radius: 50px;
    background-color: #d0e4e7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard-ul__item svg {
    width: 20px;
    height: 20px;
}

.user-box-svg__svg {
    width: 20px;
    height: 20px;
}

#userName {
    font-family: 'regular';
    font-size: 16px;
    width: 100%;
    text-align: start;
}

.sidebar .active {
    background-color: #f9f9f9;
    border-radius: 6px;
}

.active {
    height: 40px;
}

.content {
    flex: 1;
    padding: 35px;
}

.content h2 {
    font-size: 16px;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.card {
    position: relative;
    width: 314px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: start;
    border: 1px solid #E5E7EB;
    gap: 25px;
    background: #FFFFFF;
    border-radius: 12px;
    padding: 10px 20px;
}

.valet-wraper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-valet {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 254px;
    height: 57px;
    background-color: #f9f9f9;
    border: 1px solid #E5E7EB;
    border-radius: 12px;


}

.my-valet span {
    font-size: 12px;
}

.my-valet p {
    font-size: 11px;
}

.cart-svg {
    width: 54px;
    height: 54px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.svg-1 {
    background-color: #E5F1EF;
}

.svg-2 {
    background-color: #E8FAF0;

}

.svg-3 {
    background-color: #FFFBEB;
}

.svg-4 {
    background-color: #FFFBEB;
}

.cart-content {
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.cart-content p {
    font-size: 12px;
    color: #777;
}

.card h3 {
    font-size: 14px;
}

.card span {
    position: absolute;
    top: 18px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;

    font-size: 11px;
    font-weight: bold;
    color: white;
}

.dashboard-cards__number {
    background-color: black;
    width: 20px;
    height: 20px;
}

.dashboard-cards__spend {
    background-color: black;
    width: 100px;
    height: 20px;
}

.last-order {
    margin-top: 20px;
    background: #fff;
    border-radius: 12px;
    padding: 30px;
    border: 1px solid #E5E7EB;
}

.last-order h2 {
    margin-bottom: 20px;
}

#lastOrderBox {
    width: 218px;
    height: 273px;
    border-radius: 10px;
    padding-top: 20px;
}

.last-order-card {
    border: 1px solid #E5E7EB;
    width: 210px;
    height: 230px;
    display: flex;
    flex-direction: column;
  
    padding: 10px 18px;
    border-radius: 6px;
    background: #f9f9f9;
}

.order-row {
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding: 25px  0;
    border-bottom: 1px solid #f2f2f2;
}

.order-row:last-child {
    border: none;
    padding-bottom: 0;
}

.order-row span {
    color: #666;
    font-size: 13px;
}

.order-row strong {
    font-size: 11px;
    font-weight: 700;
    color: #222;
}

.status-badge {
    color: #fcfcfc;
    padding: 5px 12px;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 700;
}

#status-badge-text {
    color: white;
    font-size: 12px;
}


/* ===== Orders ===== */

#ordersContainer {

    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.order-card {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    border: 1px solid #E5E7EB;
    border-radius: 6px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .3s;

}



.order-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;

}

.order-status__wraper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 5px;
}

.order-status__cercel {
    width: 21px;
    height: 21px;
    border-radius: 50px;

}

.order-id {

    font-size: 18px;
    font-weight: bold;

}

.order-date {

    color: #777;

}

.order-price {
    color: #848484;
    font-weight: bold;
    font-size: 15px;

}

.order-status {

    display: inline-block;
    width: fit-content;
    color: #0c0c0c;
    font-size: 15px;


}

.order-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 220px;
    background: #FFFFFF;
    border-radius: 6px;
    padding: 10px;
}

.pending {

    background: #f59e0b;

}



.shipped {

    background: #8b5cf6;

}

.delivered {

    background: #22c55e;

}

.order-a {
    height: 120px;
    display: flex;
    align-items: start;
}

.view-order {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1a0808;
    gap: 5px;
    transition: .3s;
    cursor: pointer;
}

.view-order p {
    font-size: 12px;
}

/* در انتظار */
.order-status__cercel.pending {
    background: #f59e0b;
}

/* در حال پردازش */
.order-status__cercel.processing {
    background: #3b82f6;
}

/* ارسال شده */
.order-status__cercel.shipped {
    background: #8b5cf6;
}

/* تحویل شده */
.order-status__cercel.delivered {
    background: #22c55e;
}
.order-status__cercel.cancelled {
    background: #ff0c0c;
}

.order-dtail {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.order-products-images {

    display: flex;
    align-items: center;
    gap: 8px;
    margin: 12px 0;

}

.order-product-image {

    width: 81px;
    height: 80px;
    border-radius: 10px;
    object-fit: cover;
    border: 1px solid #e5e7eb;
    background: #fff;
    padding: 5px;

}


.order-filter__wraper {
    position: relative;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 30px 0 30px;
    background-color: #FFFFFF;
    width: 100%;
    height: 120px;
    border-radius: 6px;
}

.order-filter__wraper h2 {
    font-size: 14px;
    margin-bottom: 10px;
}

.orders-filter {

    display: flex;
    gap: 15px;
    justify-content: end;
    align-items: end;

    position: absolute;
    bottom: 0;
}

.filter-btn {
    color: #666;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 18px 20px 18px;
    border: none;
    background: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}

.filter-btn span {
    min-width: 21px;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000;
    color: #fff;
    border-radius: 4px;
    font-size: 10px;
}

.filter-btn.active {
    border-bottom: 3px solid #00b5b8;
    color: #00b5b8;

}

.filter-btn.active span {
    background: #00b5b8;
}

.last-order__title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.last-order__title a {
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 5px;
    text-decoration: none;
    color: #336DFF;
    font-size: 14px;

}

/* ----------------------------------------profile------------------------------------------ */
.profile-card {

    background: #fff;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    padding: 25px;
    max-width: 1044px;
    margin: auto;


}

.profile-header {

    text-align: center;

    margin-bottom: 35px;

}

.avatar {

    width: 120px;

    height: 120px;

    border-radius: 50%;

    border: 4px solid #2563eb;

    object-fit: cover;

    margin-bottom: 15px;

}

.profile-header h2 {

    color: #222;

    font-size: 28px;

}

.profile-info {

    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 20px;

}

.info-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid #E5E7EB;

    padding: 18px;

    border-radius: 8px;

}

.info-item span {

    display: block;

    color: #888;
    font-size: 14px;

    margin-bottom: 8px;

}

.info-item strong {

    color: #080808;

    font-size: 14px;

}



.edit-btn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    background: none;
}

@media(max-width:768px) {

    .profile-info {

        grid-template-columns: 1fr;

    }

}

.modal-overlay {

    position: fixed;

    inset: 0;

    background: rgba(0, 0, 0, .45);

    display: none;

    justify-content: center;

    align-items: center;

    z-index: 999;

}

.edit-modal {

    width: 420px;

    background: #fff;

    border-radius: 18px;

    padding: 30px;

}

.edit-modal h2 {

    margin-bottom: 20px;

}

.edit-modal input,
.edit-modal textarea {

    width: 100%;

    margin-bottom: 15px;

    padding: 12px;

    border: 1px solid #ddd;

    border-radius: 10px;

    font-size: 15px;

}

.edit-modal textarea {

    height: 120px;

    resize: none;

}

.modal-buttons {

    display: flex;

    gap: 10px;

}

.modal-buttons button {

    flex: 1;

    padding: 12px;

    border: none;

    border-radius: 10px;

    cursor: pointer;

}

#saveProfile {

    background: #2563eb;

    color: #fff;

}

#closeModal {

    background: #eee;

}

.profile-divider {

    margin: 40px 0;

    border: none;

    border-top: 1px solid #eee;

}

.security-section h3 {

    margin-bottom: 10px;

    color: #222;

}

.security-section p {

    color: #777;

    margin-bottom: 20px;

    line-height: 1.8;

}

#changePassword {

    width: 100%;

    padding: 14px;

    border: none;

    border-radius: 12px;

    background: #ef4444;

    color: #fff;

    cursor: pointer;

    font-size: 16px;

    transition: .3s;

}

#changePassword:hover {

    background: #dc2626;

}

.password-rules {

    margin: 10px 0 20px;

    padding: 12px;

    background: #fafafa;

    border: 1px solid #eee;

    border-radius: 10px;

    font-size: 14px;

}

.password-rules div {

    margin: 6px 0;

    color: #ef4444;

    transition: .3s;

}

.password-rules .valid {

    color: #16a34a;

    font-weight: 600;

}

.password-field {

    position: relative;

}

.password-field input {

    width: 100%;

    padding-left: 45px;

}

.toggle-password {

    position: absolute;

    left: 15px;

    top: 50%;

    transform: translateY(-50%);

    cursor: pointer;

    color: #666;

    font-size: 18px;

    transition: .3s;

}

.toggle-password:hover {

    color: #2563eb;

}

.info-text-p {
    font-size: 16px;
}

#currentPassword {
    display: flex;
    align-items: center;
    justify-content: center;
}